<h2>Add A Workout</h2>
<form action="/workouts" method="post">
  <label>Date: </label>
  <input type="date" name="date"><br><br>
  <label>Exercise: </label>
  <input type="text" name="exercise_name"><br><br>
  <label>Minutes: </label>
  <input type="number" name="minutes"><br><br>
  <label>Water: </label>
  <input type="number" name="water_intake"> fl ounces<br><br>

  <input type="submit" value="Enter Workout">
</form>
