<h3>Please Log In:</h3>

<form action="/login" method="post">
  <label>Email: </label>
  <input type="text" name="email" placeholder="email"><br><br>
  <label>Password: </label>
  <input type="password" name="password" placeholder="secure password"><br><br>

  <input type="submit" value="Log In">
</form>
