<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>MyWorkoutsSinatraProject</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <nav>
    <% if logged_in %>
      <a href="/workouts/new">Add Workout</a>
      <a href="/logout">Log Out</a>

      <h1>My Workouts</h1>
      <h2>Welcome, <%= current_user.create_username %>!</h3>
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    <% end %>
  </nav>

  <div class="wrapper">

    <%= yield %>

  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
